# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Docker & Database
.env
pgdata/
postgres_data/

# IDEs & Editor Clutter
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
